/01-slide-vetores_e_strings/e1
/01-slide-vetores_e_strings/e2
/02-slide-matrizes/e1
/02-slide-matrizes/e2
/02-slide-matrizes/e3
/02-slide-matrizes/e4
/02-slide-matrizes/e5
/03-slide-struct/e1
/03-slide-struct/e2
/03-slide-struct/ex
/04-slide-recursividade/e1
/04-slide-recursividade/e2
/04-slide-recursividade/e3
/05-slide-alocacao-dinamica/e1
/06-slide-lista-encadeada/extra
/06-slide-lista-encadeada/e1
/06-slide-lista-encadeada/aula
/07-slide-duplamente-encadeada/teste
/07-slide-duplamente-encadeada/e1
/07-slide-duplamente-encadeada/e2
/08-slide-fila/e1
/data-structures-course/linked-list/reverseIterative
/data-structures-course/linked-list/reverseRecursive
/data-structures-course/stack/arrayStack
/data-structures-course/stack/balanced
/data-structures-course/stack/revStack
/data-structures-course/queue/arrayQ
/data-structures-course/queue/q
/09-slide-pilha/e1
/trabalho-final/main
/teste.c
/teste